po/lokalize-scripts
po/main.lqa
po/script/.metadata
po/pst/installer/pst-l10n/tra/russian/0-106496.tra
po/pst/installer/readme.html
po/pst/installer/PST-Fix/tra/russian/fixpack.tra
po/pst/installer/PST-Fix/tra/russian/subtitles.tra
*.po~
